<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Weather Data</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/weather.css">
</head>
<body>

<div class="page-container">
    <div class="search-form">
        <header>
            <form onsubmit="fetchWeather(event)">
                <label>
                    <input type="text" name="city" placeholder="Enter city" required>
                </label>
                <button type="submit">Get Weather</button>
            </form>
        </header>

        <div class="weather-info" style="display: none;">
            <h2>Weather in <span class="city">City</span></h2>
            <div class="weather-details">
                <p>Temperature: <span class="temperature">Температура</span> °C </p>
                <p>Humidity: <span class="humidity">Влажность</span> %</p>
                <p>Wind Speed: <span class="windSpeed">Скорость ветра</span> м/с</p>
                <p>Cloudiness: <span class="cloudiness">Облачность</span> %</p>
                <p>Min Temp: <span class="minTemp">Мин. темп.</span> °C</p>
                <p>Max Temp: <span class="maxTemp">Макс. темп.</span> °C</p>
                <p>Pressure: <span class="pressure">Атмосферное давление</span> кПа</p>
                <p>Timestamp: <span class="timestamp">Дата</span></p>
            </div>
        </div>

        <div class="error-message" style="display: none;">
            <p>Error message</p>
        </div>
    </div>

    <div class="weather-table">
        <h1>Сводка погоды по городам</h1>
        <table>
            <thead>
            <tr>
                <th>Город</th>
                <th>Температура (°C)</th>
                <th>Влажность (%)</th>
                <th>Скорость ветра (м/с)</th>
                <th>Облачность (%)</th>
                <th>Мин. темп. (°C)</th>
                <th>Макс. темп. (°C)</th>
                <th>Атмосферное давление (кПа)</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="weather : ${weatherList}">
                <td th:text="${weather.city}">Город</td>
                <td th:text="${weather.temperature}">Температура</td>
                <td th:text="${weather.humidity}">Влажность</td>
                <td th:text="${weather.windSpeed}">Скорость ветра</td>
                <td th:text="${weather.cloudiness}">Облачность</td>
                <td th:text="${weather.minTemp}">Минимум</td>
                <td th:text="${weather.maxTemp}">Максимум</td>
                <td th:text="${weather.pressure}">Давление</td>
                <td th:text="${#temporals.format(weather.timestamp, 'yyyy-MM-dd HH:mm')}">Дата</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function fetchWeather(event) {
        event.preventDefault();

        const city = document.querySelector('input[name="city"]').value;

        fetch(`/current?city=${city}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.querySelector('.error-message').style.display = 'block';
                    document.querySelector('.error-message p').innerText = data.error;
                    document.querySelector('.weather-info').style.display = 'none';
                } else {
                    document.querySelector('.error-message').style.display = 'none';
                    document.querySelector('.weather-info').style.display = 'block';

                    document.querySelector('.weather-info .city').innerText = data.city;
                    document.querySelector('.weather-info .temperature').innerText = data.temperature ;
                    document.querySelector('.weather-info .humidity').innerText = data.humidity ;
                    document.querySelector('.weather-info .windSpeed').innerText = data.windSpeed ;
                    document.querySelector('.weather-info .cloudiness').innerText = data.cloudiness ;
                    document.querySelector('.weather-info .minTemp').innerText = data.minTemp ;
                    document.querySelector('.weather-info .maxTemp').innerText = data.maxTemp ;
                    document.querySelector('.weather-info .pressure').innerText = data.pressure ;

                    const date = new Date(data.timestamp);
                    if (!isNaN(date.getTime())) {
                        document.querySelector('.weather-info .timestamp').innerText = date.toLocaleString();
                    } else {
                        document.querySelector('.weather-info .timestamp').innerText = "Invalid Date";
                    }
                }
            })
            .catch(error => {
                document.querySelector('.error-message').style.display = 'block';
                document.querySelector('.error-message p').innerText = 'Failed to fetch weather data.';
            });
    }
</script>

</body>
</html>
